*{
    padding: 0;
    margin: 0;
}

.bg{
    width: 100%;
    height: 100vh;
    background-color: rgb(5, 5, 5);
}

.content{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.card-holder{
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    /* background-color: azure; */
}

.card{
    width: 300px;
    height: 500px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgb(173, 173, 173);
    border-radius: 10%;
}
.col1{
    display: none;
}

input{
    width: 100%;
    height: 30px;
    /* margin: 20px; */
    margin-top: 20px;
    border-radius: 5%;
    border: solid;
    font-size: 20px;
}

button{
    width: 50px;
    height: 50px;
    padding: 20px;
    display: flex;
    background-color: rgb(56, 55, 55);
    color: aliceblue;
    font-size: 20px;
    border-radius: 25%;
}

.btn{
    width: 90%;
    display: flex;
    margin-top: 30px;
    justify-content: center;
     gap: 20px; 
    
}

.inp{
    width: 80%;
    height: 60px;
    align-items: center;
}